
ul{
    margin: auto;
    left: 50%;
    list-style-type: none;
    border-radius: 10px;
    transform: translate(-5%, 0%);
    color: #6A41AC;
     /* color:white; */
}

li {
    background-color: transparent;
  float: left;
}

li a {
    background-color: transparent;
  display: block;
  color: #6A41AC;
  transition: all 0.5s ease;
  text-align: center;
  padding: 16px;
  text-decoration: none;

}
.selected {
      border-radius: 5px;
      box-shadow: inset 2px 2px 5px #c2c2c5,
            inset -2px -2px 5px #ffffff;
       color: #6A41AC;
}

#header
{
    height: 18%;
    margin-top: 0.5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom:2% */
}

.header_right {
     alignSelf: left;
            float: right;
            display: flex;
            textAlign : center;
            alignItems : center;
            justifyContent: center;
            border-radius: 10px;
            margin-bottom: 5%;
            
}

.filler{
  border-radius: 5px;
  box-shadow:  0 -0px 0 -0px #6A41AC;
  transition: all 0.5s ease;
  color:white;

}

.filler:hover{
    box-shadow:  7px 7px 10px #afafb16f,
             -7px -7px 10px #ffffff;
    color:white;
    transition: all 0.3s ease;
}

li a:hover{
  color:#330e6e;
}