

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.canvas-div
{
    position: absolute;
    height: 80%;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
     border-radius: 10px;
}


#image-div
{
    position: relative;
    height: 90%;
    width: 30%;    
    margin: 2% 5% auto;
    display: flex;
    justify-content: center;
    float: left;
    /* transform: translate(-50%, -50%); */
}

#img_prakhar
{
    margin: auto;
     max-width: 80%;
     max-height: 95%;
    width: auto;
}

#title
{
    margin-top: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    clear:left;
    display:block;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Rubik;
    font-size:3.5vh;
    font-weight: 500;
    color: #906CDD;
}


#left
{
    float: right;
    width:60%;
    height:100%;
    font-size:3vh;  
}


#intro
{
    margin-top:10%;
    font-family: Rubik;
    color:#341195;

}

#about_me
{
    width:80%;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    font-family: Rubik;
    font-size:400;
    color:#341195;
}

#header
{
    height: 18%;
    margin-top: 1.5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}