.img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
     max-width: 80%;
     max-height: 95%;
    width: auto;
    margin-top: 25%;
    margin-bottom: auto;
    
    border-radius: 10px;
}


#mianDiv
{
    position : relative;
    perspective : 1000px;
    transform-style: preserve-3d;
    left: 2%;
    height: 100%;
    
}

.inside
{
        position: absolute;
         transition: transform 0.4s ease;
         /* transform-style: preserve-3d; */
         transform: perspective(500px) ;
         perspective : 1000px;
         /* background:transparent; */
        margin-top: auto;
        margin-bottom: auto;
        height:70vh;
        box-shadow:  11px 11px 14px #afafb16f,
             -0px -0px 0px #ffffff;
        border-radius: 10px;
        border: 2px solid #341195;
        /* width:30vw; */
         

}

.image1
{ 
    z-index: -1;
    transform: perspective(200px) translate3d(-30%,0,-30px);

}
.image2
{
    transform: perspective(200px) translate3d(0%,0,0);
     
}
.image3
{
    transform: perspective(200px) translate3d(25%,0,-60px);
    z-index: -1;
}